@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@font-face {
	font-family: 'Phantom Sans';
	src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2') format('woff2'),
		url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Phantom Sans';
	src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff2') format('woff2'),
		url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Phantom Sans';
	src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Black.woff2') format('woff2'),
		url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Phantom Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #1f2d3d;
}

/* Material Icons support */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');
